@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
  font-weight: 300;
}

.logo {
  margin: auto 80px auto 0;
  padding: 16px;

  svg {
    width: auto;
    height: 40px;
    overflow: hidden;
  }
}
