.root {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  /* -webkit-font-smoothing: antialiased; */
}

.scroller {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  background: linear-gradient(
    to right,
    var(--gradient-color, 'rgba(255,255,255, 1), rgba(255,255,255, 0)')
  );
  height: 100%;
  width: var(--gradient-width, 5%);
  z-index: 2;
}

.overlay::before {
  left: 0;
}
.overlay::after {
  right: 0;
  transform: rotateZ(180deg);
}

.marquee {
  flex: 0 0 auto;
  min-width: var(--fill-row, 100%);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateX(0);
  animation: scroll var(--duration, 10s) linear var(--delay, 0)
    var(--iteration-count, infinite);
  animation-play-state: var(--play, running);
  animation-delay: var(--delay, 0);
  animation-direction: var(--direction, forwards);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(0px - var(--marquee-scroll-amount, 100%)));
  }
}

/* controls pause on hover */
.root:hover .scroller .marquee {
  animation-play-state: var(--pause-on-hover);
}

/* controls pause on click */
.root:active .scroller .marquee {
  animation-play-state: var(--pause-on-click);
}

/* makes sure hovering whilst clicking doesn't change play state to --pause-on-hover value */
.root[style*='--pause-on-click: paused']:hover:active .scroller .marquee,
.root[style*='--pause-on-click:paused']:hover:active .scroller .marquee {
  animation-play-state: var(--pause-on-click);
}

/* makes sure clicking while hovering doesn't change play state to --pause-on-click value */
.root[style*='--pause-on-hover:paused']:hover:active .scroller .marquee,
.root[style*='--pause-on-hover: paused']:hover:active .scroller .marquee {
  animation-play-state: var(--pause-on-hover);
}

@media (prefers-reduced-motion) {
  .root .scroller .marquee {
    animation-play-state: paused !important;
  }
}
