.marquee_root__raAMM {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  --fill-row: 100%;
  --marquee-scroll-amount: 100%;
}

.marquee_scroller__E6a4A {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  -webkit-animation: marquee_scroll__KV5JD var(--duration) linear var(--delay) var(--iteration-count);
          animation: marquee_scroll__KV5JD var(--duration) linear var(--delay) var(--iteration-count);
  -webkit-animation-play-state: var(--play);
          animation-play-state: var(--play);
  -webkit-animation-delay: var(--delay);
          animation-delay: var(--delay);
  -webkit-animation-direction: var(--direction);
          animation-direction: var(--direction);
}

.marquee_root__raAMM:active .marquee_scroller__E6a4A {
  -webkit-animation-play-state: var(--pause-on-click);
          animation-play-state: var(--pause-on-click);
}

.marquee_root__raAMM:hover .marquee_scroller__E6a4A {
  -webkit-animation-play-state: var(--pause-on-hover);
          animation-play-state: var(--pause-on-hover);
}

.marquee_root__raAMM[style*='--pause-on-click: paused']:hover:active .marquee_scroller__E6a4A {
  -webkit-animation-play-state: var(--pause-on-click);
          animation-play-state: var(--pause-on-click);
}

.marquee_root__raAMM[style*='--pause-on-hover: paused']:hover:active .marquee_scroller__E6a4A {
  -webkit-animation-play-state: var(--pause-on-hover);
          animation-play-state: var(--pause-on-hover);
}

@media (prefers-reduced-motion) {
  .marquee_root__raAMM .marquee_scroller__E6a4A {
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
  }
}

.marquee_overlay__MgEfB {
  position: absolute;
  width: 100%;
  height: 100%;
}

.marquee_overlay__MgEfB::before,
.marquee_overlay__MgEfB::after {
  background: linear-gradient(to right, var(--gradient-color));
  content: '';
  height: 100%;
  position: absolute;
  width: min(var(--gradient-width), 5%);
  z-index: 2;
}

.marquee_overlay__MgEfB::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.marquee_overlay__MgEfB::before {
  left: 0;
  top: 0;
}

.marquee_marquee__g-YOq {
  flex: 0 0 auto;
  min-width: var(--fill-row);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@-webkit-keyframes marquee_scroll__KV5JD {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-0px - var(--marquee-scroll-amount)), 0, 0);
  }
}

@keyframes marquee_scroll__KV5JD {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-0px - var(--marquee-scroll-amount)), 0, 0);
  }
}

